html{
  margin: 0;
  padding: 0;
}

.primary-btn {
  text-transform: uppercase;
  font-size: 15px;
  padding: 12px 30px;
  border-radius: 30px;
  
}

.primary-btn:hover{
  background-color: red;
}

body{
  text-align: center;
}

/* Nav Bar Styles */
nav {
  width: 100%;
  display:flex;
  justify-content: space-between;
  background-color: blue;
}
nav .logo-container{
  width: 5vw;
  margin: 15px;
}
nav .logo-container .mainlogo {
  width: 100%;
  max-height:10vh;
  max-width:10vw;
}

nav .nav-btn {
  color: black;
  background-color: white;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  margin: 10px;
}


/* Home Page Styles */

.overlay{
  width: 100vw;
  height: 100vh;
  background-color: lightgray;
}